@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="container">
    <h1>Find the prime factorization of a number</h1>
</div>
<div class="container">
    <input type="number" id="inputNum" />
</div>
<div class="container">
    <input type="button" id="btnSubmit" value="Submit" onclick="btnSubmitClick()" />
</div>
<div class="container">
    <table id="tblResult"/>
</div>

<script>
    $( document ).ready(function() {
        $('#tblResult').addClass('display-none');
    });

    function btnSubmitClick() {
        var number = $("#inputNum").val();
        if (Number.isInteger(Number(number)) && number != null && number != '') {
            getFactorization(number);
        }
        else {
            alert("Entered number cannot be blank and must be an integer");
        }
    }

    function getFactorization(number) {
        var numToFactorize = { Value: number };
        $.ajax({
            url: "/Home/GetFactorization",
            method: "POST",
            dataType: "JSON",
            data: { numToFactorize: JSON.stringify(numToFactorize) },
            success: function(data) {
                //alert(data);
                //debugger;
                if (data == "none") {
                    alert("Entered number has no prime factors");
                }
                else {
                    $('#tblResult').removeClass('display-none');
                    $("#tblResult tr").remove();
                    data.forEach(fillTable);
                    addTableHeader(number);
                }
            },
            error: function(result) {
                debugger;
                $('#tblResult').addClass('display-none');
                console.error("error");
            }
        })
    }

    function fillTable(i) {
        if (i != null && i != "") {
            var table = document.getElementById("tblResult");
            var row = table.insertRow(0);
            var cell1 = row.insertCell(0);
            cell1.className = 'center';
            cell1.innerHTML = i;
        }
    }
    function addTableHeader(number) {
        var table = document.getElementById("tblResult");
        var header = table.createTHead();
        var row = header.insertRow(0);
        var cell = row.insertCell(0);
        cell.innerHTML = "<b>Prime Factors of " + number + "</b>";
    }
</script>

<style>
    table, th, td {
        border: 1px solid;
    }

    .container {
  display: flex;
  justify-content: center;
}

.display-none{
    display: none;
}
.center{
    text-align:center;
}
</style>